@media (max-width: 1600px) {  /* 1201 - 1600 */
    .hero-img {
        max-width: 100%;
    }
    .hero-title {
        font-weight: 600;
        font-size: 57px;
    }
    .hero-desc {
        margin: 29px 0 36px;
        font-size: 22px;
    }
}
@media (max-width: 1200px) { /* 1025 - 1200 */
    .container{
        max-width: 970px;
    }
    /*---------Hero---------*/
    .hero-img {
        max-width: 100%;
    }
    .hero-box {
        margin: 95px 28px 73px 0;
    }
    .hero-title-under {
        font-size: 50px;
        line-height: 67px;
    }
    .hero-title-under span {
        font-size: 49px;
    }
    .hero-title {
        font-size: 49px;
        line-height: 64px;
    }
    .hero-desc {
        font-size: 18px;
        margin: 29px 0 36px;
    }
    .brand-group {
        padding: 70px 17px;
    }
    /*--------GEYSER------------*/
    .product{
        text-align: center;
    }
    .geyser-title {
        font-size: 22px;
        margin-top: 18px;
    }
    .product-box .row .col-6{
        width: 100%;
    }
    .geyser-icon {
        right: 82px;
    }
    .geyser-desc {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 1024px) { /* 993 - 1024 */
   .container{
       width: 750px;
   }
    .menu-header{
        position: fixed;
        top: 0;
        right: -100%; /*всплыв окна с левой стороны*/
        height: 100%;
        width: 50%;
        background-color: rgba(167, 52, 164, 0.71);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .6s;
    }
        .menu-header li {
            margin-left: 0;
        }
        .menu-header.show { /*когда появляется шоу*/
            right: 0; /*всплыв окна с правой стороны*/
        }
    .mobile-menu {
        display: block;/*на болтших экране показывать*/
        background: transparent;
        border: none;
        cursor: pointer;
        color: #9c27b0;
        font-size: 36px;
        z-index: 100;
        }
    .modal-wrapper.show {
        display: flex;
        }
    .icon-none{
        display: none;
    }
    .hero-box {
        margin: 58px 28px 73px 0;
    }
    .hero-title {
        font-size: 43px;
        line-height: 58px;
    }
    .hero-desc {
        font-size: 18px;
        margin: 20px 0 28px;
    }
    .btn-black {
        margin: 0 15px 0 25px;
    }
/*--------------BRAND-----------------*/
    .brand-group{
        padding: 42px 17px;
        text-align: center;
    }
    .brand-img:not(:last-child) {
        margin-right: 68px;
    }
    .product-box {
        margin-top: 100px;
    }

}
@media (max-width: 992px) { /* 769 - 992 */
    .col-3{
        width: 50%;
    }
    .hero{
        max-width: 100%;
    }
    .hero.col-6{
        width: 100%;
        text-align: center;
    }
    .hero-title-red {
        font-size: 14px;
        line-height: 23px;
    }
    .hero-title {
        font-size: 37px;
        line-height: 44px;
    }
    .hero-title-under span {
        font-size: 40px;
    }
    .hero-desc {
        font-size: 16px;
        margin: 5px 0 29px;
        line-height: 24px;
    }
    .hero-btn {
        padding: 14px 30px;
        font-size: 14px;
    }
    .product-box-geyser{
        text-align: center
    }
    .geyser-title {
        font-size: 21px;
        margin-top: 13px;
        text-align: center;
    }
    .geyser-desc {
        font-size: 14px;
        line-height: 18px;
        margin: 4px 0 15px;
    }
    .geyser-icon {
        right: 24px;
    }
    .btn-black {
        margin-left: 5px;
    }
    .geyser-desc {
        font-size: 12px;
        line-height: 17px;
    }
    .geyser-icon {
        right: 29px;
    }
    .product-box.col-6{
        width: 50%;
    }
    .brand-img:not(:last-child) {
        margin-right: 30px;
    }
}
@media (max-width: 768px) {  /* 481 - 768 */
    .container{
        width: 480px;
        text-align: center;
    }
    .col-6{
        width: 100%;
    }
    .col-3{
        width: 100%;
    }

    .hero-title {
        font-size: 35px;
        line-height: 38px;
    }
     .hero-btn {
         padding: 12px 22px;
         font-size: 14px;
     }
     .hero-box {
         margin: 29px 28px -7px 0;
     }

    .mobile-icon{
        margin-left: 40px;
    }
    .geyser-icon {
        right: 81px;
    }
    .geyser-desc {
        font-size: 14px;
        line-height: 16px;
        margin: 4px 0 7px;
    }
    .star {
        margin: 10px 0 20px;
    }

}
@media (max-width: 480px) { /* 0 - 480 */
    .container{
        max-width: 300px;
    }

    .hero-title-red {
        line-height: 16px;
    }
    .hero-title-under span {
        font-size: 26px;
    }
    .hero-title {
        font-size: 21px;
        line-height: 27px;
    }
    .hero-btn {
        padding: 9px 14px;
    }
    .geyser-icon {
        right: -8px;
    }

}